---
layout: default
home-title: 啊，你找到我啦
description: Woops, you find me!
---
<base target="_blank">

{% include header.html %}
<!-- <div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}"
    data-theme="{{ site.theme-color }}">
    <h2>TAGS</h2>
</div> -->

<div class="g-banner home-banner {{ site.theme-color | prepend: 'banner-theme-' }}" data-theme="{{ site.theme-color }}"
    style="background: url(/assets/hello.jpg) no-repeat center center; background-size: cover;">
    <h2>{{ page.home-title }}</h2>
    <h3>{{ page.description }}</h3>
</div>

<main class="g-container home-content">
    <article class="markdown-body">
        <div>
            <!-- <h1>About</h1>
            <p>哎呦，那么大个互联网，都被你发现这里了，看来我们很有缘嘛！</p>
            <h2>Me in 10s.</h2>
            <p>Hi！我是游薪渝，</p>
            <p>一个名字笔划很多的人 (40 笔呢！)。</p>
            <p>我的 slogan 是：<a href='http://data2art.com/CreateExperience.html'>去创造，去体验</a>。</p>
            <p>我是一个学习者、软件工程师和成长中的<a href='http://data2art.com/DS.html'>数据科学家</a>。</p>
            <p>本科在<a href='https://baike.baidu.com/item/%E9%87%8D%E5%BA%86%E5%A4%A7%E5%AD%A6'>重庆大学</a>，学软件工程。那时偶尔写网页，<a href='http://data2art.com/2016-03-24-iOSLearning.html'>一直写 APP</a>。</p>
            <p>大四时，在<a href='http://data2art.com/douban-intern.html'>“精神角落”豆瓣</a>和被”黑得很惨“的百度实习过 iOS 研发工程师。</p>
            <p>最终还是决定保研，来了现在的学校，<a href='https://baike.baidu.com/item/%E4%B8%AD%E5%9B%BD%E4%BA%BA%E6%B0%91%E8%A7%A3%E6%94%BE%E5%86%9B%E5%9B%BD%E9%98%B2%E7%A7%91%E6%8A%80%E5%A4%A7%E5%AD%A6/22036157?fromtitle=NUDT&fromid=289755#3_3'>国防科技大学</a>。专业计算机，目前研二（实习快到碗里来）。</p>
            <p>业余爱虽大众，但真心，喜欢看书📚 写字 ✍️，摄影 📷 吉他 🎸，乒乓球 🏓 和游泳 🏊‍♀️。</p>
            <p>在这里，我会将你视为我的朋友，<strong>写下的每一个字，都希望对你有益</strong>。</p>
            <img src='assets/img/me.jpg' style="height:400px;">
            <hr />
            <p>哦，随便提一下。Data2Art 项目，我会和我不(bu)愿(zhi)意(zen)透(me)露(zi)个(wo)人(jie)信(shao)息的男盆友仁敏一起维护 。</p> -->
            <h2><strong>为什么我开始分享</strong></h2>
            <p>一天早上九点，我端坐电脑桌前，打开 American Accent Training 的课本，播放章节的音频，开始了美语发音的课程学习。这时，我突然想到，为什么我决定读这本书，而不是去其他的书呢？因为我看了另外一本书，作者推荐了这套教程。也就是说，我愿意花时间阅读一本新书、学习一项新技能，仅仅是因为我阅读了作者写的文字，让我相信了他。相信他推荐的教程，能够让我掌握美语发音，能够让我得到我想要的。</p>
            <p>文字的一部分魅力不也在此吗？我们虽然从未相见，却在这字里行间中，建立起联系。<strong>你愿意花费你的时间，也就是你生命的一部分与我相识，也许，我能够帮助你得到你想要的</strong>。</p>
            <p>目前而言，我不是领域最厉害的人。但是越专业的人就教授得越好吗？</p>
            <p>可能不是。<strong>因为我们被“知识”诅咒了。</strong></p>
            <p>回想一下，你上课时，有没有过这样的感受：你坐在教室里，老师指着屏幕上的PPT，因为小蜜蜂的扩音，整个教室都能听清楚老师的每一个字，你竖着耳朵仔细听着每一个词，重点处甚至一个字一个字的记下。但是，问题来了，你每一个字都听得懂，但是连在一起你却完全不明白是何含义。你心里想着，<strong>简直就是在用一堆你不理解的词，去解释另一堆你不理解的词</strong>。而老师们还认为你应该都听懂了。这就是因为知识诅咒。</p>
            <p><img src='https://images.unsplash.com/photo-1526662092594-e98c1e356d6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60' alt='' referrerPolicy='no-referrer' /></p>
            <p>Photo by <a href='https://unsplash.com/photos/SBIak0pKUIE?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText'>Alireza Attari</a> on <a href='https://unsplash.com/search/photos/earphones?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText'>Unsplash</a></p>
            <p>什么是知识的诅咒呢？我们从一个游戏说起。假设两个人为一组，其中一个人带上耳机，里面大声的播放着一首歌曲，他负责把曲子的节奏敲打给另一个人听，称之为敲打者。而另外一个人，只能通过敲打着敲打出的旋律，去猜测这是首什么歌曲，称之为猜听者。大多时候，敲打者都觉得猜听者应该能很好的猜出来，但事实不是。研究表明，成功的概率仅有2.5%[1]。</p>
            <p>这是因为，已经学会了的人，就<strong>很难去想象不知道这种知识是什么感觉</strong>。老师们敲打节奏的时候，耳朵中有背景音乐。而作为猜听者的你，只能听到一串无意义的敲击声。这就是“知识诅咒”。越是专业的人，越容易陷入知识诅咒。</p>
            <p>已经学会游泳的人，不知道不会游泳的人为什么掌握不好平衡。正在学会游泳的人，不知道别人游泳时换气为何如此自然。</p>
            <p><img src='https://images.unsplash.com/photo-1520156676478-476f97cb33c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60' alt='' referrerPolicy='no-referrer' /></p>
            <p>Photo by <a href='https://unsplash.com/@gohrhyyan'>Goh Rhy Yan</a> on <a href='https://unsplash.com/search/photos/earphones?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText'>Unsplash</a></p>
            <p>也就是说，我们在教授的时候，要有白板背景心态，你要理解对方目前是一个什么样的背景，处于什么样的水平，有哪一些知识结构。然后以他目前理解了的事物去描述他还未理解的事物。</p>
            <p>教得很好的人，有一种情况，是他自己在学习的过程中，有很多困惑之处，废了心力去理解，或者知道学习者有着这些困惑。另外一种情况，是他刚刚学会，这个时候，他还记得自己不会时是什么样的状态，还能在会与不会的思维中转换。所以，往往这个时候，是你最能阐述清楚你如何理解一个知识或者一个技能的时候。</p>
            <p>比如游泳时，你终于体会到如何同时划手并且换气，你知道你之前为什么划手不对，也许是因为划动的幅度太大，也许是因为手臂没有尽可能的靠近。但是，就在这一瞬间，你从不会到会。但是，当你反复练习多次，熟能生巧之后，你很难想象不会是一个什么样的感觉，什么样的状态。</p>
            <p>所以，我希望将自己学习的过程，记录下来。不是报告式的记录，而是讲解式的记录。什么意思呢？例如，当我花了三天的时间，理解了什么是朴素贝叶斯分类，并且实践之后。我现在，开始假设，如果我面对的是三天前的自己，我要如何讲解，才能够最有效，最易理解得让我自己学会。也就是自我还刚刚跨过不会这个坎，还热乎乎的时候，立刻记录下来，我的“啊哈”时刻。<strong>我会尽可能的想象占在你的角度，要如何去理解、如何应用知识，尽可能的帮你打破这“知识的诅咒”。</strong></p>
            <!-- <h2>敲黑板，Data2Art 会有什么样的内容？</h2>
            <ul>
            <li>干货：技术干货，主要方向为数据科学和 iOS 开发。</li>
            <li>利器：分享超级好用的软件或工具，类似于美妆博主们的”每月爱用“。</li>
            <li>算法：系统性算法知识和题目讲解。</li>
            <li>书屋：每月会给大家推荐一本我会读两遍以上的书。（Seriously, I read a lot.）</li>
             -->
            <!-- </ul> -->
            <!-- <p>微博(@data2art)上，会每天给大家分享，我们读到的好的文章，搜寻到的好资源或者一些技术相关的实时新闻。</p> -->
            <p>&nbsp;</p>
            <h2>Reference</h2>
            <p>[1]《Made to stick》](<a href='https://heathbrothers.com/books/made-to-stick/' target='_blank' class='url'>https://heathbrothers.com/books/made-to-stick/</a>) “知识的诅咒”出自 C.F.Camerer,G.Loewenstein,and M.Weber,“The Curse of Knowledge in Economic Settings: An Experimental Analysis,” Journal ofPolitical Economy 97 (1989):1232–1254.“知识的诅咒”会伴随专业知识的累积而愈加严重。</p>

        <br>
        <!-- <img src="/assets/img/qrcode-share.png">
        </article> -->
    </div>


  <div class="post-content visible">
        {% if page.subtitle %}
        <h2 class="post-subtitle">{{ page.subtitle }}</h2>
        {% endif %}
    
        {% if site.social-share %}
        <div class="social-share-wrapper">
          <div class="social-share"></div>
        </div>
        {% endif %}
      </div>
    
      <section class="author-detail">
        <section class="post-footer-item author-card">
          <div class="avatar">
            <img src="{{ site.avatar | absolute_url }}" alt="">
          </div>
          <div class="author-name" rel="author">{{ page.author }}</div>
          <div class="bio">
            <p>{{ page.bio }}</p>
          </div>
          {% if site.sns.size > 0 %}
          <ul class="sns-links">
            {% for s in site.sns %}
            <li>
              <a href="{{ s[1] }}" target="_blank">
                        <i class="iconfont icon-{{ s[0] }}"></i>
                    </a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </section>
        <section class="post-footer-item read-next">
          {% if page.next.url %}
          <div class="read-next-item">
            <a href="{{ page.next.url }}" class="read-next-link"></a>
            <section>
              <span>{{ page.next.title }}</span>
              <p>{{ page.next.excerpt | strip_html | strip_newlines | truncate: 60}}</p>
            </section>
            {% if page.next.cover %}
            <div class="filter"></div>
            <img src="{{ page.next.cover }}" alt="">
            {% endif %}
         </div>
          {% endif %}
          {% if page.previous.url %}
          <div class="read-next-item">
            <a href="{{ page.previous.url }}" class="read-next-link"></a>
              <section>
                <span>{{ page.previous.title }}</span>
                <p>{{ page.previous.excerpt | strip_html | strip_newlines | truncate: 60}}</p>
              </section>
              {% if page.previous.cover %}
              <div class="filter"></div>
              <img src="{{ page.previous.cover }}" alt="">
              {% endif %}
          </div>
          {% endif %}
        </section>
        {% if site.comments.disqus %}
        <section class="post-footer-item comment">
            <div id="disqus_thread"></div>
        </section>
        {% endif %}
      </section>

</main>

{% include footer.html %}